@font-face{
  font-family: "cy-grotesk-key-regular";
  src: local("cy-grotesk-key-regular"), url(font/cy-grotesk-key-regular.ttf);
}
*{
  font-family:"cy-grotesk-key-regular" ;
  margin: 0; padding: 0;
  -webkit-text-size-adjust:none;
  font-size-adjust: none;
}
:root{
  --smokeGrey : hsl(240, 2%, 12%);
  --lightGrey : #dfdfdf;
  
  --madWhite : #45FB83;
  --madBlack : #000000;
  --madGrey : #000000;
}
body{
  background-color: var(--madBlack);
  overflow: auto;
}
#text-to-speech {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text {
  width: 40%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--smokeGrey);
  color: #d2d2d2;
  border-radius: 0%;
  outline: 0;
}

#speak-button {
  width: 40%;
  text-transform: uppercase;
  padding: 10px;
  font-size: 18px;
  background-color: var(--madWhite);
  color: var(--madBlack);
  border: none;
  cursor: pointer;
  border-radius: 5rem;
}

